.jumbotron{
    background-color: rgb(243, 227, 9);
    color:rgb(13, 86, 243);
    margin-top: 5px;
}
.footer{
    padding: 10px 10px 0 10px;
    background-color: rgb(243, 227, 9);
    color:whitesmoke;
    margin-bottom: 0px;
    margin-top: 20px;
}
.card-hotel{
    flex: 1 150px;
    margin-top: 10px;

}
.btn-reserva{
    width: 100%;
    border-radius: 0px;
}
.footer-centro{
    font-weight: bold;
    color: rgb(13, 86, 243);
}
.footer-address-icon{
    padding-right: 10px;
}
.boton-icon{
    padding-right: 20px;
    color: rgb(6, 233, 253);
}
.card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 4;
    }
  }
  .img-hotel{
      height: 150px;
  }
  .tab-content{
      padding-top: 10px;
  }
  .colapsa{
      padding-bottom: 10px;
  }
  .acordion{
    background-color: rgb(180, 222, 235); 

  }