@yellow: #fafa00;

.margenes(@top: 0px, @bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron{
    background-color: @yellow;
    color:rgb(13, 86, 243);
    .margenes(50px, 0px);
}
.footer{
    padding: 10px 10px 0 10px;
    background-color: @yellow;
    color:whitesmoke;
    .margenes(10px, 0px);
}
.card-hotel{
    flex: 1 150px;
    margin-top: 10px;

}
.btn-reserva{
    width: 100%;
    border-radius: 0px;
}
.footer-centro{
    font-weight: bold;
    color: rgb(13, 86, 243);
}
.footer-address-icon{
    padding-right: 10px;
}
.boton-icon{
    padding-right: 20px;
    color: rgb(6, 233, 253);
}

.img-hotel{
      height: 150px;
}
.tab-content{
      padding-top: 10px;
}
.colapsa{
     padding-bottom: 10px;
}
.acordion{
    background-color: rgb(180, 222, 235); 

}