.jumbotron {
  background-color: #fafa00;
  color: #0d56f3;
  margin-top: 50px;
  margin-bottom: 0px;
}
.footer {
  padding: 10px 10px 0 10px;
  background-color: #fafa00;
  color: whitesmoke;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 150px;
  margin-top: 10px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-centro {
  font-weight: bold;
  color: #0d56f3;
}
.footer-address-icon {
  padding-right: 10px;
}
.boton-icon {
  padding-right: 20px;
  color: #06e9fd;
}
.img-hotel {
  height: 150px;
}
.tab-content {
  padding-top: 10px;
}
.colapsa {
  padding-bottom: 10px;
}
.acordion {
  background-color: #b4deeb;
}
